@import "tailwindcss";

@theme {
  --color-background: #fafbfe;
  --color-surface: #f1f5f9;
  --color-card: #ffffff;

  --color-foreground: #0f172a;
  --color-muted-foreground: #475569;

  --color-border: #e2e8f0;

  --color-primary: #0f172a;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #1e293b;

  --color-accent: #4f46e5;
  --color-accent-foreground: #ffffff;
}
